* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

button {
    border: none;
}

.hero-section {
    position: relative;
    min-height: 100svh;
    overflow: hidden;
}

.hero-section__bg {
    position: absolute;
    inset: -60px;
    background-image: url(./img/austria-6934186.jpg);
    background-size: cover;
    background-position: center;
    will-change: transform;
}

.hero-section__logo {
    position: relative;
    display: block;
    padding-top: 45px;
    margin: 0 auto;
    z-index: 999;
}

.hero-section__title {
    inset: 0;
    position: absolute;
    display: grid;
    place-items: center;
}

.hero-section__title-inner {
    display: flex;
}

.hero-section__title h1 {
    display: block;
    font-size: clamp(3.2rem, 5vw, 6.4rem);
    color: #fff;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: .3em auto 0 auto;
    letter-spacing: -0.25em;
    text-align: center;
}

.main-contents {
    position: relative;
}

.main-contents__bg {
    display: block;
    width: 100%;
    height: auto;
}

.main-contents__title {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
}

.main-contents__title h1 {
    font-size: clamp(1.4rem, 2vw, 7.2rem);
    color: #fff;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: clamp(3em, 20%, 10em);
}

.main-contents__container {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
}

.main-contents__text-area {
    padding: 3rem;
}

.main-contents__text-area p {
    color: #fff;
    font-size: clamp(1.4rem, 1.5vw, 3.6rem);
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: .5em;
    text-align: center;
}

.comunity-contents__cutting-shape {
    width: 100%;
    aspect-ratio: 2.9 / 1;
    background: linear-gradient(#040203 0%, #3F6476 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
}

.comunity-contents {
    min-height: 100svh;
    display: grid;
    place-items: center;
}

.comunity-contents__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6rem;
}

.comunity-contents__title h1 {
    color: #000;
    font-size: clamp(2rem, 3vw, 4rem);
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.25em;
}

.comunity-contents__image {
    width: 100%;
    height: auto;
    border-radius: 50px;
}

.comunity-contents__text {
    margin-top: 5em;
    margin-right: 3em;
    font-size: clamp(1.4rem, 1.5vw, 2rem);
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.join-btn {
    display: block;
    margin-top: 5em;
    width: fit-content;
    height: fit-content;
    color: #fff;
    grid-column: 1;
    grid-row: 5;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #3F6476;
    padding: .5em 2em;
    border-radius: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .comunity-contents__container {
        grid-template-columns: 1fr;
        padding: 3rem;
    }

    .comunity-contents__title {
        margin-top: 3rem;
    }

    .comunity-contents__title h1 {
        text-align: center;
    }

    .comunity-contents__text {
        margin-right: 0;
    }

    .comunity-contents__text p {
        text-align: center;
    }

    .comunity-contents__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comunity-contents__right {
        order: -1;
    }

}

.hero2-section {
    position: relative;
    min-height: 100svh;
}

.hero2-section__bg {
    inset: 0;
    position: absolute;
    background-image: url(./img/austria-6934184.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.blur-effect {
    position: absolute;
    z-index: 2;
    inset: 0;
    backdrop-filter: blur(10px);
}

.hero2-section__container {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 3;
    padding: 3rem
}

.hero2-section__contents {}

.hero2-section__contents h1 {
    color: #fff;
    font-size: clamp(2rem, 3vw, 4rem);
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.25em;
    text-align: center;
}

.hero2-section__text {
    margin-top: 15vw;
}

.hero2-section__text p {
    color: #fff;
    font-size: clamp(1.4rem, 1.5vw, 2rem);
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.counter-section {
    min-height: 100svh;
    background-color: #31576A;
    display: grid;
    place-items: center;
}

.counter-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20rem 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.counter-contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-contents__left h1 {
    color: #fff;
    font-size: clamp(2rem, 3vw, 4rem);
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.25em;
    text-align: center;
    margin: 0 1em;
}

.counter-contents__right {
    display: grid;
}

.glass-bg {
    width: 100%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 4px 4px 0 rgba(255, 255, 255, .25);
    border-radius: 50px;
    grid-area: 1/1/-1/-1;
}

.counter-contents__right h1 {
    color: #fff;
    font-size: clamp(5.2rem, 5vw, 12.8rem);
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    grid-area: 1/1/-1/-1;
}

@media screen and (max-width: 768px) {
    .counter-container {
        grid-template-columns: 1fr;
    }
}

.contact-section {
    min-height: 100svh;
    display: grid;
    place-items: center;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #000;
}

.contact-contents__left {       
    display: grid;
    place-items: center;
    padding: 3rem;
}

.contact-contents__left-inner {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-contents__left-inner h1 {    
    color: #000;
    font-size: clamp(1.4rem, 1.5vw, 2rem);
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.contact-contents__left-inner p {
    margin-top: 3em;
    color: #000;
    font-size: clamp(1.4rem, 1.5vw, 2rem);
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.contact-btn {
    display: block;
    margin-top: 5em;
    width: fit-content;
    height: fit-content;
    color: #fff;
    grid-column: 1;
    grid-row: 5;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #3F6476;
    padding: .5em 2em;
    border-radius: 30px;
    cursor: pointer;
}

.contact-contents__right {
    overflow: hidden;
    height: 80vh;
    display: flex;
}

.contact-contents__image {
    inset: 0;
    height: 100%;
    animation: move 100s linear infinite;
}


@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.counter-contents__counter span{
    color: #fff;
    font-size: 10rem;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

footer {
    background-color: #3F6476;
}

.footer__logo {
    width: 15rem;
    display: block;
    padding: 30px 0;
    margin: 0 auto;
}

footer p {
    color: #fff;
    font-size: 1.4rem;
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-bottom: 20px;
}